<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1.0"
    package="com.android.insecurebankv2"
    platformBuildVersionCode="22"
    platformBuildVersionName="5.1.1-1819727">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="22" />

    <uses-permission
        android:name="android.permission.INTERNET" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission
        android:name="android.permission.SEND_SMS" />

    <uses-permission
        android:name="android.permission.USE_CREDENTIALS" />

    <uses-permission
        android:name="android.permission.GET_ACCOUNTS" />

    <uses-permission
        android:name="android.permission.READ_PROFILE" />

    <uses-permission
        android:name="android.permission.READ_CONTACTS" />

    <uses-permission
        android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <uses-permission
        android:name="android.permission.READ_CALL_LOG" />

    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x20000"
        android:required="true" />

    <application
        android:theme="@ref/0x01030119"
        android:label="@ref/0x7f070040"
        android:icon="@ref/0x7f030000"
        android:debuggable="true"
        android:allowBackup="true">

        <activity
            android:label="@ref/0x7f070040"
            android:name="com.android.insecurebankv2.LoginActivity">

            <intent-filter>

                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:label="@ref/0x7f070057"
            android:name="com.android.insecurebankv2.FilePrefActivity"
            android:windowSoftInputMode="0x34" />

        <activity
            android:label="@ref/0x7f070054"
            android:name="com.android.insecurebankv2.DoLogin" />

        <activity
            android:label="@ref/0x7f07005b"
            android:name="com.android.insecurebankv2.PostLogin"
            android:exported="true" />

        <activity
            android:label="@ref/0x7f07005e"
            android:name="com.android.insecurebankv2.WrongLogin" />

        <activity
            android:label="@ref/0x7f070055"
            android:name="com.android.insecurebankv2.DoTransfer"
            android:exported="true" />

        <activity
            android:label="@ref/0x7f07005d"
            android:name="com.android.insecurebankv2.ViewStatement"
            android:exported="true" />

        <provider
            android:name="com.android.insecurebankv2.TrackUserContentProvider"
            android:exported="true"
            android:authorities="com.android.insecurebankv2.TrackUserContentProvider" />

        <receiver
            android:name="com.android.insecurebankv2.MyBroadCastReceiver"
            android:exported="true">

            <intent-filter>

                <action
                    android:name="theBroadcast" />
            </intent-filter>
        </receiver>

        <activity
            android:label="@ref/0x7f070053"
            android:name="com.android.insecurebankv2.ChangePassword"
            android:exported="true" />

        <activity
            android:theme="@ref/0x0103000f"
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="0xfb0" />

        <activity
            android:theme="@ref/0x7f0900df"
            android:name="com.google.android.gms.ads.purchase.InAppPurchaseActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@ref/0x7f0b0004" />

        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

        <receiver
            android:name="com.google.android.gms.wallet.EnableWalletOptimizationReceiver"
            android:exported="false">

            <intent-filter>

                <action
                    android:name="com.google.android.gms.wallet.ENABLE_WALLET_OPTIMIZATION" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
